.ProfileStudentLayout {
  background-color: #eeeeee;
}

.ProfileStudentLayout {
  display: flex;
}

.StudentProfile {
  width: 774px;
  height: 1016px;
}

.StudentProfileFrame {
  margin: 139px 70px 301px 344px;
  width: 361px;
  height: 575px;
  display: block;
}

.RectangleFrame {
  position: absolute;
  z-index: 1;
}

.StudentPic,
.ChangePhotoButton,
.EditProfileButton {
  z-index: 2;
  position: absolute;
}

.StudentPic {
  height: 175px;
  width: 175px;
  margin: 82px 93px 69px 93px;
}

.EditProfileButton,
.ChangePhotoButton {
  height: 35px;
  width: 175px;
  margin-left: 93px;
  margin-right: 93px;
}

.EditProfileButton {
  margin-top: 326px;
}

.ChangePhotoButton {
  margin-top: 395px;
}

.StudentInformation {
  width: 1146px;
  height: 1016px;
}

.RectangleFrameLarge {
  position: absolute;
  z-index: 1;
}

.SIHText,
.SICategory,
.SIData,
.BackToProjects {
  z-index: 2;
  position: absolute;
}

.StudentInformationPreview {
  margin: 140px 326px 164px 0px;
  width: 820px;
  height: 712px;
}

/*SIH = Student Information Heading */
.SIHText {
  font-size: 60px;
  font-family: "Nunito";
  font-weight: bold;
  color: #707070;
  margin-top: 54px;
  margin-left: 193px;
}

.SICategory,
.SIData {
  font-size: 30px;
  font-weight: bold;
}

.SICategory {
  color: #a5a5a5;
  margin-top: 203px;
  margin-left: 52px;
  font-family: "Nunito";
}

.SICText,
.SIDText {
  margin-bottom: 34px;
}

.SIData {
  color: #707070;
  margin-top: 203px;
  margin-left: 490px;
  font-family: "Open Sans";
}

.BackToProjects {
  margin-left: 1394px;
  margin-top: 924px;
}
