/*Content */
.Content {
  background-color: #b2e4fa;
  width: 1684px;
  height: 957px;
  display: inline;
}

.footer {
  height: 61px;
  background-color: coral;
}

/*Default CSS*/
p {
  margin: 0px;
}
