.ProjectsHeading, .ProjectsHeadSubtext {
    text-align: left;
}


.ProjectsHeading{
    margin: 88px 1157px 15px 544px;
    font-size: 42px;
/* Will need to add fonts and bold */
}

.ProjectsHeadSubtext {
    margin: 0px 274px 57px 547px;
    font-size: 20px;
/* Might need to change botton px based on how the sidebar and body material fits  */ 
}

.Body {
  display: flex;  
}

.BIABar {
    margin-left: 300px;
    {/*Temporary Code for testing*/}
    
}

.ProjectsSidebar{
    width: 173px;
    height: 100%; 
    margin-left: 255px;
    margin-left: 116px; 
}
/*width calc 255 + 1492 = 1747 - 1920 = 173*/ 