.Layout {
  position: relative;
}

.Body {
  display: flex;
}

.ProjectsHeading {
  margin: 88px 1157px 15px 0px;
  font-size: 42px;
  font-family: "Nunito";
  font-weight: 900;
  color: #6c6c6c;
  /* Looks like it isn't bold enough? 
    - Missing a boarder?
    - Shadow also?
*/
}

.ProjectsHeadSubtext {
  margin: 0px 274px 57px 0px;
  font-size: 20px;
  font-family: "Open Sans";
  color: #767676;
  /* 
    - Missing a boarder?
    - Shadow also?
*/
}

h1 {
  margin: 0px 0px 0px 0px;
}

.BackToTop {
  position: absolute;
  top: 2348px;
  left: 1499px;
  padding: 8px 31.15px 5px 31.5px;
  background-color: #e5ab2c;
  color: #ffffff;
  border-radius: 7px;
  font-size: 16px;
  font-family: Nunito;
  font-weight: 900;

  /*Top Calculation changed from adobe XD measurement to make it look closer to design. Value given by XD is 2412px */
}

.Footer {
  position: absolute;
  top: 2538px;
  width: 100%;
}
