.PSHeader,
.PSText {
  text-align: left;
}

/*PS = Projects Sidebar */
.PSHeader {
  font-size: 16px;
  font-family: "Open Sans";
  font-weight: Bold;
  margin-bottom: 0px;
  color: #767676;
}

.PSText {
  font-size: 14px;
  font-family: "Open Sans";
  font-weight: bold;
  color: #767676;
}
/*Need to add bullet points to this */

.Underline {
  margin: -12px 0px 0px 0.5px;
}
/*Underline size is a bit awkward so this has the -12px is a guess */

.WhiteSpace {
  margin: 0px 0px 50px 0px;
}

.ProjectsSidebar {
  width: 173px;
  margin-top: 224px;
  margin-left: 255px;
  margin-right: 116px;
}

.SideBarRow {
  display: flex;
}

.CheckBox {
  margin-right: 20px;
  height: 14px;
  width: 14px;
  margin-top: 3px;
}
