.ProjectsHeader {
  /* font-size: 40px; */
  font-weight: 900;
  margin-top: 88px;
}

.ProjectsSubheading {
  text-transform: none;
  font-weight: 800;
  font-family: "Open Sans";
  font-size: 20px;
  margin-top: 15px;
}

.ProjectsHeader,
.ProjectsSubheading {
  margin-left: 544px;
}
