a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

.sideNav {
  background-color: #43c0f6;
  max-width: 200px;
  width: 100%;
  height: 100%;
  color: white;

  display: flex;
  flex-direction: column;
}

.sideNav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sideNavUpper li {
  display: flex;
  font-size: 0.75rem;
  background-color: #43c0f6;
  padding: 13px 0 13px 15px;
  text-transform: uppercase;
  font-weight: bold;
  align-items: center;
  letter-spacing: 0.5px;
  cursor: pointer;
}

.sideNav li img {
  height: 20px;
  margin-right: 10px;
}

.sideNav .profileImage {
  display: flex;
  border-radius: 50%;
  height: 70px;
  margin: 25px auto;
}

.sideNavExtraContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 25px 0;
  height: 100%;
}

.sideNavLower {
  width: 100%;
  display: flex;
  font-size: 0.5rem;
  justify-content: center;
}

.sideNavLower li {
  display: flex;
  font-size: 0.5rem;
  font-weight: normal;
  padding: 0 4px 3px;
  text-transform: capitalize;
  flex-wrap: wrap;
  text-align: center;
}

.sideNavLower i {
  font-size: 0.8rem;
  width: 100%;
  text-align: center;
  padding-bottom: 3px;
}

.sideNavLower label {
  width: 100%;
}

.toggleNav {
  font-size: 3rem;
  border-radius: 12px 0 0 12px;
  border: none;
  background-color: #b2e4fa;
  color: #f91c84;
  padding: 5px 16px;
  width: 50px;
  display: flex;
  justify-content: flex-end;
}

.sideNavToggleContainer {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: flex-end;
}

.active {
  background-color: #d9f2fd !important;
  color: #707070;
}

.active img {
  filter: brightness(0.4);
}

/* Styles for when sideNav is closed */

.sideNavClosed {
  width: 110px !important;
}

.sideNavLowerClosed {
  top: 40%;
  flex-direction: column;
}

.sideNavLowerNavCenter {
  justify-content: "center";
}

.sideNavToggleContainerClosed {
  transform: rotate(180deg);
}
