.progressContainer {
  color: #6c6c6c;
}

h1,
h2 {
  text-transform: uppercase;
  margin: 0;
  font-weight: 800;
  font-family: "Nunito", "Open Sans", sans-serif;
}

.progressHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  font-size: 0.8rem;
}

.progressStudentContainer {
  animation: fadeIn 0.4s;
}
.fileExport {
  width: 22px;
  margin-right: 5px;
}
