
.ProjectSubmissionItem { 
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    background-color: white;
    border-radius: 20px;
    width: 100%;
    margin: 15px 15px 15px 15px;
    color: #707070;
    font-size: 0.8rem;
    font-weight: 600;
    padding: 25px 75px 25px;
    animation: fadeIn 0.4s;
  }

.ProfilePic img {
    border-radius: 50%;
    height: 50px;
    padding: 10px 10px 100;
    display: flex;
    align-items: flex-start;
  }
  


  .Submit {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      margin-top: -2.5%;
      padding-left: 25px;
  }
.Submit p {
    align-self: center;
    font-size: 16px;
}
  .TimeStamp {
      margin-left: auto;
      list-style-type: none;
  }

  .Submit img {
      display: flex;
      height: 50%;
      width: 50%;
}

.StudentHelpText p{
    flex: auto;
    padding: 30px;
    font-size: 20px;
    display: inline;

} 

.EnlargePhotoContainer {
    display: inline-block;
    text-align: left;
}

.EnlargePhotoContainer img{
    height: 25%;
    width: 25%;
}