.studentProfileContainer {
  display: grid;
  width: 100%;
  padding-top: 35px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  column-gap: 15px;
  row-gap: 35px;
}

.studentProfileItem {
  border-radius: 10px;
  box-shadow: 0 3px 6px #b4cad4;
  background-color: white;
  place-self: center; /* sets both the align-self and justify-self properties in a single declaration. */
  padding: 5px;
  text-align: center;
  height: 160px;
  width: 170px;
}

.studentProfileItem img {
  border-radius: 50%;
  height: 100px;
  padding: 10px 10px 0;
}

.studentProfileItem p {
  text-transform: uppercase;
  color: #707070;
  font-size: 0.8rem;
  font-weight: 600;
  padding: 10px 0 10px;
}
