* {
  box-sizing: border-box;
}

footer {
  text-align: center;
  padding: 15px 0;
}

button:focus {
  /* Remove button outline onclick. I understand does reduces page accessibility */
  outline: none;
}

.container {
  width: 100vw;
  font-family: "Open Sans", sans-serif;
}

/* Header */

.header {
  display: flex;
  width: 90vw;
  margin: 0 auto;
  max-width: 1660px;
  justify-content: space-between;
}

.header .logo {
  height: 50px;
  margin: 5px 0;
}

.language {
  margin-top: 5px;
}

.language img {
  height: 10px;
}

.language img:first-child {
  margin: 0 5px;
}

/* End of Header */

/* Main Body */

.mainContainer {
  display: flex;
  height: 820px;
  width: 100vw; /* Revisit resizing of this container. Probably is a better way */
  max-width: 1560px;
  margin: 0 auto;
  background-color: #b2e4fa;
}

/* End of Side Menu */

.bodyContain {
  display: flex;
  flex-wrap: wrap;
  align-items: initial;
  background-color: #b2e4fa;
  width: 100%;
  margin: 0 25px;
  align-content: flex-start;
}

.bodyTopButton {
  display: flex;
  width: 100%;
  margin: 5px 30px 5px 0;
  align-items: center;
  justify-content: flex-end;
}

.bodyTopButton button {
  font-family: "Nunito", "Open Sans", sans-serif;
  border: none;
  color: white;
  font-weight: 800;
  letter-spacing: 0.5px;
  box-shadow: 0px 5px 11px 0px rgb(0 0 0 / 12%);
  border-radius: 5px;
  padding: 6px 0;
  width: 180px;
  margin: 0 10px;
}

.bodyTopButton button:nth-child(1) {
  background-color: #e5ab2c;
}

.bodyTopButton button:nth-child(2) {
  background-color: #f91c85;
}

.bodyTopButton button:nth-child(3) {
  background-color: #43c0f6;
}

.bodyMain {
  background-color: #d9f2fd;
  border-radius: 30px;
  width: 100%;
  height: calc(100% - 80px); /* Remove 80px due to bodyTopButton */
  padding: 50px 40px 0 50px;
}

.bodyWrapper {
  height: 90%;
  overflow-y: scroll;
  padding-right: 50px;
  scrollbar-width: thin;
}

.bodyWrapper::-webkit-scrollbar {
  width: 20px;
  border-radius: 20px;
  background-color: white;
  scrollbar-width: thin;
}

.bodyWrapper::-webkit-scrollbar-thumb {
  background-color: #43c0f6;
  border-radius: 20px;
  border: 3px solid white;
}
