.TopNav {
  background-color: white;
  height: 62px;
  display: flex;
}

.Logo {
  margin-left: 38px;
}

.ProjIntro {
  height: 91px;
  margin: 17px 16px 2px 82px;
}
/*Top Margin looks wrong */
/*Font's are not thicc enough */

#Project {
  font-size: 20px;
  font-family: Nunito;
  color: #6c6c6c;
  font-weight: 900;
}

#Intro {
  font-size: 11px;
  font-family: "Open Sans";
  color: #6c6c6c;
  font-weight: bold;
}

#circle {
  background: #fdf7c0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 3px solid #43c0f6;
  margin: 15px 0px 7px 16px;
}

.Level {
  font-family: Nunito;
  font-size: 24px;
  font-weight: 900;
  color: #6c6c6c;
  text-align: center;
}

.circleSmall {
  border-radius: 50%;
  width: 17px;
  height: 17px;
  border: 3px solid #43c0f6;
  margin: 23px 0px 0px 9px;
}

#flags {
  display: flex;
  margin-top: 16px;
  float: right;
  padding-left: 995px;
}

.NZFlag {
  width: 24px;
  height: 12px;
  margin-right: 8px;
}

.MaoriFlag {
  width: 21.6px;
  height: 12px;
}
/*Defaul CSS */
p {
  margin: 0px;
}
