.VideoContainer {
  display: flex;
}

.SelectorCircleVideoLeft,
.SelectorCircleVideoRight {
  height: 67px;
  width: 67px;
  background-color: #e2eef3;
  border-radius: 50%;
  border: 2.5px solid white;
  top: 350px;
}

.SelectorCircleVideoLeft,
.SelectorCircleVideoRight {
  margin-top: 190px;
}
